{% extends "base.html" %}

{% block meta %}
  {{ super() }}
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="cognee" />
  <meta property="og:description" content="Deterministic data engine for LLMs" />
  <meta property="og:title" content="{{ page.title|striptags }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@tricalt" />
  <meta name="twitter:creator" content="@tricalt" />
  <meta name="twitter:title" content="{{ page.title|striptags }}" />
  <meta name="twitter:description" content="desc" />

{% endblock %}
