.wizardContent {
  width: 100%;
  max-width: 400px;
  height: max-content;
  background: linear-gradient(90deg, #6510F4 0.52%, #0DFF00 103.83%);
  padding: 24px;
  margin: 0 auto;
  position: relative;
}

.wizardContent::before {
  content: '';
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  max-width: 394px;
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: #351A4B;
}

.wizardContent > * {
  position: relative;
}
