services:
  cognee:
    container_name: cognee
    networks:
      - cognee-network
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./cognee:/app/cognee
      - .env:/app/.env
    environment:
      - DEBUG=false # Change to true if debugging
      - HOST=0.0.0.0
      - ENVIRONMENT=staging
      - PYTHONPATH=.
    extra_hosts:
      # Allows the container to reach your local machine using "host.docker.internal" instead of "localhost"
      - 'host.docker.internal:host-gateway'
    ports:
      - 8000:8000
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2GB

networks:
  cognee-network:
    name: cognee-network
