
.loadingIndicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.18rem solid white;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
