
.loadingIndicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--global-color-primary);
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
