.main {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  padding: 32px;
  min-height: 100vh;
  gap: 32px;
}

.wizardContainer {
  flex: 1;
  width: 100%;
}

.wizardDataset {
  border: 2px solid white;
  border-radius: var(--border-radius);
  padding: 24px;
  min-width: 350px;
}

.fileSize {
  display: block;
}
