
.tableContainer {
  overflow: auto;
  padding-bottom: 32px;
  min-height: 300px;
}

.datasetMenu {
  background-color: var(--global-background-default);
  border-radius: var(--border-radius);
  padding: 4px;
}

.dataTable {
  color: white;
  border-collapse: collapse;
}
.dataTable td, .dataTable th {
  vertical-align: top;
  padding: 8px;
  border: 1px solid white;
  margin: 0;
  white-space: nowrap;
}
