
.datasetMenu {
  background-color: var(--global-background-default);
  border-radius: var(--border-radius);
  padding: 4px;
}

.explorerModal {
  left: 5% !important;
  padding: 0 !important;
  max-width: 90% !important;
  height: 80%;
  top: 5% !important;
  display: flex;
  flex-direction: column;
}
