.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main.noData {
  flex-direction: column;
}

.data {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.datasetsView {
  width: 50%;
  transition: width 0.3s ease-in-out;
  padding-right: 8px;
  border-right: 2px solid white;
}

.openDatasetData {
  width: 30%;
}

.dataView {
  width: 70%;
  animation: grow-width 0.3s ease-in-out;
  padding: 0 0 0 32px;
}

@keyframes grow-width {
  0% {
    width: 50%;
  }
  100% {
    width: 70%;
  }
}
