name: common | common

on:
  pull_request:
    branches:
      - main
      - devel
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  RUNTIME__LOG_LEVEL: ERROR

jobs:
  get_docs_changes:
    name: docs changes
    uses: ./.github/workflows/get_docs_changes.yml

  run_common:
    name: test
    needs: get_docs_changes
    if: needs.get_docs_changes.outputs.changes_outside_docs == 'true'
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.11.x"]
        # Test all python versions on ubuntu only
        include:
          - python-version: "3.8.x"
            os: "ubuntu-latest"
          - python-version: "3.9.x"
            os: "ubuntu-latest"
          - python-version: "3.10.x"
            os: "ubuntu-latest"
          - python-version: "3.12.x"
            os: "ubuntu-latest"

    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out
        uses: actions/checkout@master

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tzdata on windows
        run: |
          cd %USERPROFILE%
          curl https://data.iana.org/time-zones/releases/tzdata2021e.tar.gz --output tzdata.tar.gz
          mkdir tzdata
          tar --extract --file tzdata.tar.gz --directory tzdata
          mkdir %USERPROFILE%\Downloads\tzdata
          copy tzdata %USERPROFILE%\Downloads\tzdata
          curl https://raw.githubusercontent.com/unicode-org/cldr/master/common/supplemental/windowsZones.xml --output %USERPROFILE%\Downloads\tzdata\windowsZones.xml
        if: runner.os == 'Windows'
        shell: cmd

      - name: Install Poetry
        # https://github.com/snok/install-poetry#running-on-windows
        uses: snok/install-poetry@v1.3.2
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install dependencies
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: poetry install --no-interaction
      - name: Run test script
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: poetry run python ./cognee/tests/test_library.py

      - run: |
          poetry run
        if: runner.os != 'Windows'
        name: Run common tests with minimum dependencies Linux/MAC
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      - run: |
          poetry run pytest tests/common tests/normalize tests/reflection tests/sources tests/load/test_dummy_client.py tests/extract/test_extract.py tests/extract/test_sources.py tests/pipeline/test_pipeline_state.py -m "not forked"
        if: runner.os == 'Windows'
        name: Run common tests with minimum dependencies Windows
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        shell: cmd

      - name: Install duckdb dependencies
        run: poetry install --no-interaction

      - run: |
          poetry run pytest tests/pipeline/test_pipeline.py tests/pipeline/test_import_export_schema.py
        if: runner.os != 'Windows'
        name: Run pipeline smoke tests with minimum deps Linux/MAC
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      - run: |
          poetry run pytest tests/pipeline/test_pipeline.py tests/pipeline/test_import_export_schema.py
        if: runner.os == 'Windows'
        name: Run smoke tests with minimum deps Windows
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        shell: cmd

      - name: Install pyarrow
        run: poetry install --no-interaction

      - run: |
          poetry run python ./cognee/tests/test_library.py
        if: runner.os != 'Windows'
        name: Run pipeline tests with pyarrow but no pandas installed
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      - run: |
          poetry run python ./cognee/tests/test_library.py
        if: runner.os == 'Windows'
        name: Run pipeline tests with pyarrow but no pandas installed Windows
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        shell: cmd

      - name: Install pipeline dependencies
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: poetry install --no-interaction

      - run: |
          poetry run python ./cognee/tests/test_library.py
        if: runner.os != 'Windows'
        name: Run extract and pipeline tests Linux/MAC
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
#      - run: |
#          poetry run python ./cognee/tests/test_library.py
#        if: runner.os == 'Windows'
#        name: Run extract tests Windows
#        env:
#          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
#        shell: cmd


  matrix_job_required_check:
    name: common | common tests
    needs: run_common
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check matrix job results
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: |
          echo "One or more matrix job tests failed or were cancelled. You may need to re-run them." && exit 1